@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 200px;
  height: 100px;
}

.navDiv {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.pageContent {
  margin-top: 139px; /* Add a top margin to avoid content overlay */
}
nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover {
  background: #ddd;
  color: black;
}
.listCard {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productListContDiv {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.menuCategories {
  background-color: #333;
  height: 50px;
  width: 100%;
  border-top: 50px transparent;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.menuCategories div {
  background-color: #333;
  height: 50px;
  width: 100%;
  border-top: 50px transparent;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.menuCategories a {
  color: white;
  text-decoration: none;
}

.listCard a {
  width: 16vw;
  font-size: 0.7rem;
  text-decoration: none;
  color: black;
  text-align: center;
}

.detailCard {
  width: 100%;
}
.detailCard img {
  width: 15vw;
}
.productListDiv {
  text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-between;
  padding: 10px 60px 10px 60px;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
}
.FooterDivs div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 0.5rem;
  line-height: 1.2;
}
.FooterDivs a {
  text-decoration: none;
  color: white;
}
.FooterDivs h4 {
  text-decoration: none;
  color: #999;
  font-size: 0.5rem;
}

.socials {
  padding: 10px;
}
